.row {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
}

.inputf,
.inputa {
  width: 60px;
  height: 30px;
}

.simulationsCount {
  width: 60px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid rgb(0, 119, 216);
  border-radius: 4px;
}

#rowz, #rrow, #rrrow {
  border-collapse: collapse;
  width: 100%;
}

#rowz td,
#rowz th, #rrow td, #rrow th, #rrrow td, #rrrow th {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

#rowz tr:nth-child(even), #rrow tr:nth-child(even), #rrrow tr:nth-child(even){
  background-color: #f2f2f2;
}

#rowz tr:hover, #rrow tr:hover , #rrrow tr:hover{
  background-color: #ddd;
}

#rowz th , #rrow th, #rrrow th{
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

